*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

body{
    overflow-x: hidden;
}

header{
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

header > h1{
    color: rgb(255, 74, 74);
    font-size: 1.4em;
}

header > i{
    color: rgb(100, 100, 100);
}

article.imagem_fundo{
    background-image: url("../imagens/london.jpg");
    background-position: center center;
    background-size: cover;
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container{
    background-color: white;
    width: 65%;
    margin: auto;
}

div.opcoes{
    background-color: black;
    color: white;
}

div.opcoes > ul{
    display: flex;
    height: 2em;
}

div.opcoes > ul > li{
    width: 33.3%;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.opcoes > ul > li.selecionada{
    background-color: rgb(255, 74, 74);
}

div.opcoes > ul > li > i{
    padding-right: 10px;
}

div.conteudo{
    padding: 2em 1em 2em 1em;
}

div.conteudo > .div_inputs{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

div.conteudo > .div_inputs > .inputs{
    display: flex;
    flex-direction: column;
    width: 49%;
}

div.conteudo > .div_inputs input{
    width: 100%;
    margin-top: 3px;
    text-indent: 5px;
    height: 3em;
}

div.conteudo > button{
    width: 13em;
    color: white;
    background-color: rgb(97, 97, 97);
    padding: 1em;
    border: none;
    margin-top: 1em;
}

section.segunda{
    background-color: rgb(211, 211, 211);
    width: 100%;
}

article.apres_img{
    width: 100%;
    padding: 0 10% 0 10%;
}

article.apres_img > h1{
    font-size: 2.3em;
}

article.apres_img > p{
    font-size: 1.5em;
    padding-top: 0.8em;
}

article.apres_img > .imagens{
    width: 100%;
    display: flex;
    padding-top: 1em;
    height: 65vh;
    justify-content: space-between;
}

article.apres_img > .imagens > .imagem_grande{
    width: 50%;
    height: 90%;
}

article.apres_img > .imagens > .imagem_grande img{
    width: 100%;
    height: 100%;
}

article.apres_img > .imagens > .imagens_pequenas{
    padding-left: 15px;
    width: 50%;
    height: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article.apres_img > .imagens > .imagens_pequenas img{
    width: 47%;
    height: 47%;
}

article.apres_img > .imagens > .imagem_grande2{
    width: 49%;
    height: 90%;
}

article.apres_img > .imagens > .imagem_grande2 > img{
    width: 100%;
}

article.apres_img > .imagens > .imagem_grande2 > h2{
    margin-top: 0.3em;
    text-indent: 0.5em;
}

article.apres_img > .imagens > .imagem_grande2 > .cinza{
    margin-top: 1.4em;
    color: gray;
    text-indent: 0.8em;
}

article.apres_img > .imagens > .imagem_grande2 > .texto_meio{
    margin-top: 1em;
    text-indent: 0.8em;
}

article.apres_img > .imagens > .imagem_grande2 > .ticket{
    margin-top: 1.7em;
    text-indent: 2.5em;
}

article.parte_cinza{
    background-color: rgb(65, 65, 65);
    margin: 2em 10% 0 10%;
    padding: 1.5em 1em;
    color: white;
}

article.parte_cinza > h1{
    font-size: 2.5em;
}

article.parte_cinza > p{
    margin-top: 1em;
}

article.parte_cinza > div{
    margin-top: 1em;
}

article.parte_cinza > button{
    background-color: rgb(255, 129, 129);
    border: none;
    width: 6em;
}